@CHARSET "UTF-8";
*{
	margin: 0;
	padding:0;
}
body{
	width: 1000px;
	font-size: 12px;
	color:#666666;
	font-family: 微软雅黑;
	/* background-color: #80ff80; */
}

#header{
	font-size: 12px;
	color:#666666;
	
}

#greetWithUser{
	text-align: center;
}

#userNickName{
	color: #00F;
}

#userScore{
	color:#e8a000;
}

#labelOfOrder{
	font-size: 12px;
	
}
#orderManner li{
	list-style: none;
	float: left;
	display: inline;
	padding: 2px;
	line-height: 0.9em;
}
.orderManner{
	border: 1px solid #e4e4e4;
	border-left-style: none;
	cursor: pointer;
}
.orderMannerFirst{
	cursor: pointer;
	border: 1px solid #e4e4e4;
}

#content{
	width: 100%;
	clear: left;
	margin-top:30px;
	line-height: 100%;
}
.goodsItem{
	list-style: none;
	float: left;
	border: 1px solid red;
	width: 320px;
	height:356px;
	display: block;
	margin-bottom: 10px;
	margin-right: 10px;
	position: relative;
}
.goodsImage{
	margin: 10px auto;
	display: block;
}
.goodsName{
	font-weight: bold;
	text-align: center;
	display: inline-block;
	width:100%;
	
}
.residue{
	float: left;
	margin-left: 10px;
}
.goodsScore{
	float:right;
	margin-right: 10px;
}
.exchBtn{
	bottom:10px;
	position: absolute;
	right: 10px;
	width: 85px;
	height: 30px;
	border-radius:5px;
	background-color: white;
	border: 1px solid #e8a000;
	outline: 0;
}
.exchBtn:hover{
	bottom:10px;
	position: absolute;
	right: 10px;
	width: 85px;
	height: 30px;
	border-radius:5px;
	background-color: #e8a000;
	border: 1px solid #e8a000;
	color: white;
}
