@charset "utf-8"; 

.grey {
	color: #535353
}

.grey6 {
	color: #666
}

.dark {
	color: #333
}

.orange {
	color: #ef8742 !important
}

.white {
	color: #fff
}

.red {
	color: #fe0000
}

.border0 {
	border: 0 none !important
}

.border1 {
	border-bottom: 1px solid #e1e1e1
}

.bordert1 {
	border-top: 1px solid #e1e1e1
}

.bradius {
	border-radius: 5px
}

.f12 {
	font-size: 1.2rem
}

.f14 {
	font-size: 1.4rem
}

.f16 {
	font-size: 1.6rem
}

.bold {
	font-weight: bold
}

.vt {
	vertical-align: top
}

.vm {
	vertical-align: middle
}

.vb {
	vertical-align: bottom
}

.none {
	display: none
}

.block {
	display: block
}

.inline {
	display: inline-block
}

.fl {
	float: left
}

.fr {
	float: right
}

.rel {
	position: relative
}

.abs {
	position: absolute
}

.fix {
	position: fixed
}

.static {
	position: static
}

.tl {
	text-align: left
}

.tc {
	text-align: center
}

.tr {
	text-align: right
}

html {
	font-size: 62.5%
}

body {
	margin: 0;
	background: #f3f3f3;
	font-family: "Microsoft yahei", Arial, sans-serif;
	font-size: 140%;
	overflow-x: hidden;
	color: #535353
}

ul, ol, li {
	list-style: none;
	margin: 0;
	padding: 0
}

input, select, button, textarea {
	margin: 0;
	padding: 0;
	background: none;
	border: none;
	font-family: "Microsoft yahei", Arial, sans-serif;
	font-size: 1.4rem;
	vertical-align: middle
}

input {
	height: 20px
}

button {
	cursor: pointer
}

h1, h2, h3, h4, h5, h6 {
	font-weight: normal
}

body, div, fieldset, form, h1, h2, h3, h4, h5, h6, html, p, span {
	-webkit-text-size-adjust: none
}

applet, dd, div, dl, dt, h1, h2, h3, h4, h5, h6, html, iframe, img,
	object, p, span {
	padding: 0;
	margin: 0;
	border: none
}

img {
	padding: 0;
	margin: 0;
	vertical-align: top;
	border: none
}

*:focus {
	outline: none
}

p {
	font-size: 1.4rem
}

.ml10 {
	margin-left: 10px
}

.ml20 {
	margin-left: 20px
}

.mr5 {
	margin-right: 5px
}

.mr10 {
	margin-right: 10px
}

.mr20 {
	margin-right: 20px
}

.mt10 {
	margin-top: 10px
}

.mt20 {
	margin-top: 20px
}

.mb0 {
	margin-bottom: 0 !important
}

.mb10 {
	margin-bottom: 10px
}

.mb20 {
	margin-bottom: 20px
}

.mg10 {
	margin: 10px
}

.pl10 {
	padding-left: 10px
}

.pl20 {
	padding-left: 20px
}

.pr10 {
	padding-right: 10px
}

.pr20 {
	padding-right: 20px
}

.pt10 {
	padding-top: 10px
}

.pt20 {
	padding-top: 20px
}

.pb10 {
	padding-bottom: 10px
}

.pb20 {
	padding-bottom: 20px
}

.pd10 {
	padding: 10px
}

.w50 {
	width: 50px
}

.lh1-8 {
	line-height: 1.8em
}

.lh2 {
	line-height: 2em
}

.hidden {
	visibility: hidden
}

.clear {
	clear: both
}

.clearfix:after {
	visibility: hidden;
	display: block;
	content: ".";
	clear: both;
	height: 0
}

*+html .clearfix {
	zoom: 1
}

.ellipsis {
	overflow: hidden;
	word-wrap: normal;
	text-overflow: ellipsis;
	white-space: nowrap
}

.underline {
	text-decoration: underline
}

.last {
	border-bottom: none !important
}

h3, h4 {
	color: #535353;
	font-size: 1.6rem;
	margin-bottom: 10px
}

h4 {
	font-size: 1.5rem
}

p {
	color: #949499;
	margin-bottom: 15px;
	line-height: 1.6em
}

p.white {
	color: #fff
}

a {
	text-decoration: none;
	color: #ef8742
}

.bg-white {
	background: #fff !important
}

.bg-blue {
	background: #67768d !important
}

.bg-grey {
	background: #f3f3f3 !important
}

.box-shadow {
	box-shadow: 0 1px 1px #ccc
}

.iicon {
	display: inline-block;
	vertical-align: middle;
	background: url('../images/sprites.png') 0 0 no-repeat;
	background-size: 300px auto
}

.i-search {
	width: 17px;
	height: 17px;
	background-position: -9px -7px
}

.i-ok {
	width: 18px;
	height: 18px;
	background-position: -55px -6px
}

.i-ok.orange {
	background-position: -33px -6px
}

.i-heart {
	width: 16px;
	height: 15px;
	background-position: -78px -8px
}

.i-arrow {
	width: 10px;
	height: 17px;
	background-position: -103px -8px
}

.linkBtn {
	display: inline-block;
	text-align: center;
	width: 100%;
	height: 36px;
	line-height: 36px;
	background: #ef8742;
	color: #fff;
	border-radius: 5px
}

.linkBtn.greyBtn {
	background: #b8b8b8
}

.linkBtn.w100 {
	width: 100px
}

.linkBtn.w_40 {
	width: 40%
}

.linkBtn.whiteBtn {
	height: 34px;
	border: 1px solid #ccc;
	background: #f9f9f9;
	color: #808080
}

.linkBtn.orangeBtn {
	height: 34px;
	border: 1px solid #ef8742;
	background: #fff;
	color: #ef8742
}

.pointer {
	cursor: pointer
}

.shadow {
	box-shadow: 3px 2px 3px #bbb
}

.check {
	display: inline-block;
	vertical-align: middle;
	background: url(../images/icon_bg.png) 0 1px no-repeat;
	width: 22px;
	height: 22px;
	padding-right: 5px
}

.checked {
	background-position: 0 -46px
}

.text {
	display: block;
	width: 100%;
	border: 1px solid #c8c8c8;
	border-radius: 3px;
	background: #fff;
	box-sizing: border-box;
	padding: 2px 5px;
	height: 32px
}

.textarea {
	display: block;
	border: 1px solid #ccc;
	height: 100px;
	padding: 10px;
	background: #fff;
	resize: none;
	width: 100%;
	border-radius: 3px;
	box-sizing: border-box
}

.show-more {
	border-bottom: 1px solid #e1e1e1;
	margin-bottom: 10px
}

.show-more .span-text {
	display: inline-block;
	background: #f3f3f3;
	padding: 0 10px;
	position: relative;
	top: 10px;
	color: #999
}

.wrapper {
	overflow-y: auto
}

.top-fix {
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 999
}

.bottom-fix {
	background: #f3f3f3;
	padding: 10px;
	width: 100%;
	box-sizing: border-box;
	position: fixed;
	left: 0;
	bottom: 0;
	z-index: 999
}

.pt53 {
	padding-top: 53px
}

.pt84 {
	padding-top: 84px
}

.pt93 {
	padding-top: 93px
}

.pb56 {
	padding-bottom: 56px
}

.pb61 {
	padding-bottom: 61px
}

.pronum_unit {
	float: right;
	position: relative;
	width: 92px;
	display: inline-block;
	height: 26px;
	border: 1px solid #ddd;
	border-radius: 5px
}

.pronum_unit span {
	display: inline-block;
	width: 26px;
	height: 26px;
	line-height: 26px;
	color: #333;
	text-align: center;
	background: #e0e0e0;
	cursor: pointer;
	font-weight: bold;
	font-size: 2rem;
	color: #fff
}

.pronum_unit span:hover {
	background: #ccc
}

.pronum_unit span.disabled {
	border-color: #bbb;
	color: #bbb;
	cursor: not-allowed
}

.pronum_unit span.des_btn {
	margin-right: 40px
}

.pronum_unit input {
	position: absolute;
	left: 26px;
	top: 0;
	width: 38px;
	border: 0 none;
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
	height: 26px;
	line-height: 26px;
	background: #fff;
	text-align: center
}

.tab-ul {
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 10px
}

.tab-ul li {
	margin-top: 10px;
	float: left;
	width: 33.3%
}

.tab-ul li a {
	display: block;
	background: #666;
	color: #fff;
	text-align: center;
	height: 36px;
	line-height: 36px;
	border-left: 1px solid #767676;
	border-right: 1px solid #595959;
	font-size: 12px
}

.tab-ul li.first a {
	border-radius: 3px 0 0 3px;
	border-left: 0
}

.tab-ul li.last a {
	border-radius: 0 3px 3px 0;
	border-right: 0
}

.tab-ul li.active a {
	background: #ccc
}