<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="PayProvisionMapper">
	
	<select id="find" resultType="String" >
		SELECT content FROM `web_pay_provision` WHERE id=1
	</select>
	
	<update id="save">
		UPDATE `web_pay_provision` SET `content`=#{content},`update_date`=NOW() WHERE id=1
	</update>
	
</mapper>