<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="UserCountMapper">
	
	<select id="checkInsertLogin" resultType="int">
		SELECT COUNT(*)
		FROM `admin_count_login`
		WHERE TO_DAYS(login_date)=TO_DAYS(NOW())
		AND web_user_id=#{userId}
		AND `type`=#{type}
	</select>
	
	<insert id="insertLoginCount">
		INSERT INTO `admin_count_login`
		SET login_date=NOW(),web_user_id=#{userId},`type`=#{type}
	</insert>
	
	<select id="findLoginCountList" resultType="map">
		SELECT login_date,
		SUM(IF(`type`='web',1,0)) AS web,
		SUM(IF(`type`='ios',1,0)) AS ios,
		SUM(IF(`type`='android',1,0)) AS android
		FROM (
		SELECT *
		FROM `admin_count_login`
		WHERE TO_DAYS(
		<if test=" endTime == '' or endTime == null ">NOW()</if>
		<if test=" endTime != '' and endTime != null ">#{endTime}</if>
		)-TO_DAYS(login_date) &gt;= #{startLine}
		AND TO_DAYS(NOW())-TO_DAYS(login_date) &lt; #{showLine}+#{startLine}
		<if test=" startTime != '' and startTime != null ">
			AND TO_DAYS(login_date) &gt;= TO_DAYS(#{startTime})
		</if>
		) AS result
		GROUP BY TO_DAYS(login_date)
		ORDER BY login_date DESC
	</select>
	
	<select id="findLoginCountCount" resultType="int">
		SELECT COUNT(*)
		FROM (
		SELECT *
		FROM `admin_count_login`
		<if test=" startTime != '' and startTime != null ">
		WHERE TO_DAYS(login_date)&gt;=TO_DAYS(#{startTime})
		</if>
		<if test=" endTime != '' and endTime != null ">
		AND TO_DAYS(login_date)&lt;=TO_DAYS(#{endTime})
		</if>
		GROUP BY TO_DAYS(login_date)
		) AS result
		
	</select>
	
	<select id="checkInsertRegister" resultType="int">
		SELECT COUNT(*)
		FROM `admin_count_register`
		WHERE TO_DAYS(register_date)=TO_DAYS(NOW())
		AND web_user_id=#{userId}
		AND `type`=#{type}
	</select>
	
	<insert id="insertRegisterCount">
		INSERT INTO `admin_count_register`
		SET register_date=NOW(),web_user_id=#{userId},`type`=#{type}
	</insert>
	
	<select id="findRegisterCountList" resultType="map">
		SELECT register_date,
		SUM(IF(`type`='web',1,0)) AS web,
		SUM(IF(`type`='ios',1,0)) AS ios,
		SUM(IF(`type`='android',1,0)) AS android
		FROM (
		SELECT *
		FROM `admin_count_register`
		WHERE TO_DAYS(
		<if test=" endTime == '' or endTime == null ">NOW()</if>
		<if test=" endTime != '' and endTime != null ">#{endTime}</if>
		)-TO_DAYS(register_date) &gt;= #{startLine}
		AND TO_DAYS(NOW())-TO_DAYS(register_date) &lt; #{showLine}+#{startLine}
		<if test=" startTime != '' and startTime != null ">
			AND TO_DAYS(register_date) &gt;= TO_DAYS(#{startTime})
		</if>
		) AS result
		GROUP BY TO_DAYS(register_date)
		ORDER BY register_date DESC
	</select>
	
	<select id="findRegisterCountCount" resultType="int">
		SELECT COUNT(*)
		FROM (
		SELECT *
		FROM `admin_count_login`
		<if test=" startTime != '' and startTime != null ">
		WHERE TO_DAYS(login_date)&gt;=TO_DAYS(#{startTime})
		</if>
		<if test=" endTime != '' and endTime != null ">
		AND TO_DAYS(login_date)&lt;=TO_DAYS(#{endTime})
		</if>
		GROUP BY TO_DAYS(login_date)
		) AS result
		
	</select>
	
	<insert id="saveLoginCount">
		INSERT INTO `admin_online_count`
		SET create_date=NOW(),web_login=#{loginNumber},web_unlogin=#{unLoginNumber},app_login=(
		SELECT COUNT(*)
		FROM `user_token`
		WHERE DATE_FORMAT(create_date,'%Y-%m-%d %H')=DATE_FORMAT(DATE_ADD(NOW(),INTERVAL -1 DAY),'%Y-%m-%d %H')
		)
	</insert>
	
	<sql id="findOnlineCountSql">
		SELECT id,DATE_FORMAT(create_date,'%Y-%m-%d') AS createDate,MAX(web_login) AS web_login,MAX(web_unlogin) AS web_unlogin,MAX(app_login) AS app_login
		FROM `admin_online_count`
		WHERE 1=1
		<if test=" startTime != null and startTime != '' ">
			AND create_date &gt;= #{startTime}
		</if>
		<if test=" endTime != null and endTime != '' ">
			AND create_date &gt;= #{endTime}
		</if>
		GROUP BY createDate
	</sql>
	
	<select id="findOnlineCountCount" resultType="int">
		SELECT COUNT(*)
		FROM (
		<include refid="findOnlineCountSql"></include>
		) as resultCount
	</select>
	<select id="findOnlineCountList" resultType="map">
		<include refid="findOnlineCountSql"></include>
		LIMIT #{startLine},#{showLine}
	</select>
	
</mapper>